.app__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-3);
    border-top: 1px solid var(--color-4);
    
    padding-top: 40px;
    padding-bottom: 60px;
}

.app__footer-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__footer-logo h2 {
    font-size: var(--fs-logo-2);
    font-weight: var(--fw-1);
    letter-spacing: var(--ls-logo-2);
}


.app__footer-social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25.6px;

    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .app__footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .app__footer-logo {
        justify-content: flex-start;
        
        margin-left: 30px;
    }

    .app__footer-logo h2 {
        font-size: var(--fs-logo-1);
        letter-spacing: var(--ls-logo-1);
    }

    .app__footer-social {
        margin-top: 0;
        justify-content: flex-end;

        margin-right: 30px;
    }
}

@media screen and (min-width: 1440px) {
    .app__footer-logo {
        margin-left: 165px;
    }

    .app__footer-social {
        margin-right: 165px;
    }
}